* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    transition: all 0.2s cubic-bezier(0.34, 1.12, 0.68, 1.31);
}

.gallery {
    min-height: 100vh;
    padding: 50px 20px;
    
}

.gallery .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.gallery .controls .buttons {
    height: 40px;
    width: 140px;
    background: #fff;
    color: #666;
    font-size: 20px;
    font-style: italic;
    line-height: 40px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gallery .controls .buttons.active {
    background: coral;
    color: #fff;
}

.gallery .controls .buttons:hover {
    background-color: #ffa07a;
    color: #fff;
}

.gallery .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery .image-container .image {
    height: 250px;
    width: 350px;
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.gallery .image-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.gallery .image-container .image:hover img {
    transform: scale(1.1);
}

.gallery .image-container .image:hover {
    transform: translateY(-5px);
}
