.join-us-container {
    padding: 20px;
    max-width: 500px;
    margin: auto;

}

.join-us-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff4500;
    font-size: 50px;
    font-weight: bold;
}

.join-us-container input,
.join-us-container select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.join-us-container input:focus,
.join-us-container select:focus {
    border-color: #ff4500;
}

.join-us-select {
    color: #555;
    background-color: #fff;
    font-size: 16px;
}

.join-us-container button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.join-us-container button:hover {
    background-color: #ff4500;
}
