
.home-container {
    position: relative;
    height: 100vh;
    text-align: center;
    
}

.carousel img {
    height: 100vh;
    object-fit: cover;
}


.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff; 
}


.quote2 h1 {
    font-size: 4.5rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.text-orange-500 {
    color: orange;
}

.quote {
    font-size: 1.9rem;
    margin: 20px 0;
    font-style: italic;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timer {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.limited-offer {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff4500;
    margin-top: 5px;
    text-transform: uppercase;
    animation: pulse 1.5s infinite;
}
.circular-button {
    position: fixed;
    bottom: 80px;
    right: 20px; 
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: red; 
    color: white; 
    border: none;
    font-size: 0.9rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    transition: background-color 0.3s; 
    text-align: center; 
    padding: 10px;
}

.circular-button:hover {
    background-color: #0056b3; 
}

.fixed-bmi-calculator {
    position: fixed;
    bottom: 100px; 
    right: 20px; 
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
    width: 220px; 
}
.bmi-classification {
    margin-top: 10px;
    font-weight: bold;
    color: #333; 
}




@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
} 