.timetable-title {
    text-align: center;
    font-size: 2rem;
    color: #ff4500;
    margin-bottom: 20px;
    font-weight: bold; 
}

.timetable {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px; 
    padding-left: 125px; 
}


.timetable-day {
    flex: 0 1 calc(30% - 15px); 
    padding: 10px; 
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.timetable-day:hover {
    transform: translateY(-5px);
}

.timetable-day h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; 
}

.timetable-class {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 1rem;
    color: #666;
}

.timetable-class .time {
    font-weight: bold;
    color: #333;
}

.timetable-class .activity {
    color: #ff4500;
}


.title {
    text-align: center;
    font-size: 1.8rem;
    color: #ff4500;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold; 
}

.workout-schedule {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding: 20px 0; 
    padding-left: 125px;
    padding-right: 125px;
    gap: 15px; 
}


.day-box {
    flex: 0 1 calc(30% - 15px); 
    padding: 10px; 
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-box:hover {
    transform: translateY(-5px);
}

.day-title {
    font-size: 1.2rem; 
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold; 
}


.exercise-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 150px; 
    overflow-y: auto;
}

.exercise-item {
    font-size: 0.9rem; 
    color: #555;
    padding: 6px; 
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.exercise-item:last-child {
    border-bottom: none;
}

.exercise-list::-webkit-scrollbar {
    width: 5px;
}

.exercise-list::-webkit-scrollbar-thumb {
    background-color: #ff4500;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .timetable-day, .day-box {
        flex: 0 1 calc(45% - 15px); 
    }
}

@media (max-width: 480px) {
    .timetable-day, .day-box {
        flex: 0 1 100%; 
    }
}
